@font-face {
    font-family: 'Sfmono';
    src: local('Sfmono Regular'), local('Sfmono-Regular'), url('./fonts/sfmono-regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sfmono-bold';
    src: local('Sfmono Bold'), local('Sfmono-Bold'), url('./fonts/sfmono-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sfmono-light';
    src: local('Sfmono Light'), local('Sfmono-Light'), url('./fonts/sfmono-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sfmono-medium';
    src: local('Sfmono Meiudm'), local('Sfmono-Meiudm'), url('./fonts/sfmono-medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
